.button {
  display: flex;
  align-items: center;

  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 12px 24px;

  gap: 12px;

  transition: all .3s ease;

  &:hover {
    background-color: lighten($color: #fe5f1e, $amount: 5);
  }
}
.total {
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.separate {
  background-color: #ffffff40;
  height: 100%;
  width: 100%;
}
.count {
  display: flex;
  align-items: center;
  gap: 8px;

  & > span {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
}
