/* ======Миксины====== */
@import 'mixins.scss';
/* ======/Миксины====== */

/* ======Шрифты====== */
@import 'fonts.scss';
/* ======/Шрифты====== */

/* ======Переменные====== */
@import 'variables.scss';

$font: 'Inter';
$dfont: 14px;

/* ======/Переменные====== */

/* ======Обнуление====== */
@import 'null.scss';
/* ======/Обнуление====== */

#root {
    padding: 45px;

    @media (max-width: 1024px) {
        padding: 35px;
    }

    @media (max-width: 768px) {
        padding: 25px;
    }

    @media (max-width: 425px) {
        padding: 0;
    }
}

body {
    font-family: $font, 'Inter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: $dfont;

    background-color: #FFDF8C;
}